body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-image: url("https://i.ytimg.com/vi/rG3aZznMIm8/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  pointer-events: none;
}

h1 {
  background-color: #14d8db;
  color: #d76609;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  background-color: #914040;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul, ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  position: relative;
  gap: 30px;
}

ul li, ol li {
  background: linear-gradient(135deg, #d5a56d, #b58351);
  color: #fff;
  padding: 15px 20px;
  margin: 20px 15px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transform: rotate(-5deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul li:nth-child(even), ol li:nth-child(even) {
  transform: rotate(5deg);
}

ul li:hover, ol li:hover {
  transform: scale(1.1) rotate(0deg);
  z-index: 1;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.image-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: center;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .image-item {
      flex: 1 1 100%;
  }
}

p {
  color: #333;
}
