
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #14d8db; 
    color: #d76609;
    padding: 20px;
    text-align: center;
}


h2 {
    background-color: #914040; 
    color: white;
    padding: 10px;
    text-align: center;
}


li {
    display: inline-block;
    width: 150px;
    margin: 5px;
    text-align: center;
    background-color: #cc8f66; 
    padding: 10px;
}



p {
    line-height: 1.6; 
    color: #555; 
}
